# Python 3 crash course

A crash course in Python.  Really, a collection of things to get you up and running in Python.

If you've made it this far, you have Python installed.  Where to begin.  How about numbers?

Oh, important note.  To run a cell, if it's selected, you can hit the "play-advance" button up above.  On a PC, either ctrl + enter or shift + enter will execute the code in a cell.  On a mac, I think it's the same, but maybe command + enter.

## Numbers

Integers are relatively straight forward.  Add subtract, multiply, and divide.  Exponentiation?

In [2]:
2 + 3

5

In [3]:
7 - 100

-93

In [4]:
5 * 4

20

In [5]:
10 / 2

5.0

Everything should look ship-shape so far, but did you notice that the division resulted in a decimal?

So far, all of the numbers we've used have been integers.  Accordingly, they belong to the the integer datatype.  If you wanted to check this, you could use the type function to check this:

In [6]:
type(3)

int

In [7]:
type(5)

int

In [8]:
type(0)

int

In [9]:
type(-123412634791)

int

But when we do division, we get something else:

In [10]:
type(5.0)

float

When do you do division, Python defaults to giving you a number with a decimal.  This is going to happen most of the time, so even when you do nice clean arithmetic that has no decimal, you still get a float, with a bunch of zeros after the decimal, instead of an integer.

What if you wanted to get an integer?  You can do integer division:

In [11]:
10//2

5

In [12]:
36//1

36

For comparison between integer division, and regular division:

In [13]:
9/2

4.5

In [14]:
9//2

4

**mini quiz:** What does the following cell output?

In [15]:
-1//2

-1

In [16]:
-15 // 7

-3

What else can we do with numbers?

In [17]:
# exponentiation:
2**3

8

In [18]:
-1**4

-1

Note that exponentiation uses consecutive multiplication signs.  The carrot usually thought of as exponentiation is used as bitwise XOR.

In [19]:
# 0001 ^
# 1000 =
# 1001

1^8

9

In [20]:
# 0011 ^
# 1010 =
# 1001
3^10

9

In [21]:
# 10001 ^
# 10111 =
# 00110 = 6
17^23

6

Anyway, that's not too important, just know that the ^ does bitwise XOR, and that's why exponentiation is done with two asterinks, \*\*.

Another important function, the modulo operator, %.

In [22]:
35 & 3

3

In [23]:
35 % 2

1

Long-division gives both a quotient and a remainder.  The quotient you get from //, the remainder you get from %.

So, math is fun, and there are a lot more math functions, but we'll come back to those in a bit.

## Variables

Variables in Python: if you want to save things, it's really easy:

In [24]:
x = 7
y = 2

In [25]:
x, y

(7, 2)

In [26]:
x * y

14

In [27]:
x*5 + y

37

In [28]:
z = 2x + 3y

SyntaxError: invalid syntax (<ipython-input-28-e24249a5fd84>, line 1)

Oops.  That's some broken code.  Note, for more traditional mathematical notation where you drop multiplication signs that can be implied, you'll need a symbolic algebra library.

In [29]:
z = 2*x + 3*y

In [30]:
# What does z equal?
z

20

We can also change our variables once we've created them:

In [31]:
x = 4

But note that y and z are still what they were:

In [32]:
y, z

(2, 20)

There's a question of whether z should have changed when x changed, since it was defined as a linear combination of x and y, but we'll get more into that later.  For now, know that when we created z, we did a computation on x and y, that resulted in a number, and just the number, not the formula, was stored to z.  This is somewhat tied in to whether x and y and z are mutable or immutable objects.  It's a very important topic we'll come back to once we have lists.

# Strings

Another basic data type, and the second of this module.  Strings are text.  I'm not sure where the word string came from.  I think it's from C where you have individual lettetrs which are called characters, and text, which is multiple characters strung together ... strings.

In [33]:
"a"

'a'

In [34]:
"abcde"

'abcde'

In [35]:
"aeiou"

'aeiou'

You denote strings, or text, with quotes.  One quote to open, and one quote to close.  It doesn't matter if you use single or double quotes.

In [36]:
"I prefere to use double quotes."

'I prefere to use double quotes.'

In [37]:
'But, lots of people prefer to use single quotes.'

'But, lots of people prefer to use single quotes.'

You can't mix and match quotes.  If you start with a double, you need to end with a double.  If you start with a single, you need to end with a single.  But, this can be used to your advantage.  If you need an apostrophe in your text, you can use double quotes for the string:

In [38]:
"This isn't an exciting example."

"This isn't an exciting example."

Note what happens if I try to use all single quotes:

In [39]:
'this isn't an exciting example.'

SyntaxError: invalid syntax (<ipython-input-39-a5da2f631b01>, line 1)

In this latter case, the intended apostrophe functions to end the text, and then we have syntax errors from the remaining unquoted text, which has no well defined Pythonic evaluation.

Another alternative is to use the slash to "escape" a character:

In [40]:
'I don\'t like to use double quotes.'

"I don't like to use double quotes."

Putting the slash before the quote in this case lets Python know that you intend to use the quote as text and not for its potential functional value other than being text.  There are lots of characters you can escape like this.

In [41]:
"The newline character: \nThe tab character: \t.\nThe double quote \"\nThe escape character \\n"

'The newline character: \nThe tab character: \t.\nThe double quote "\nThe escape character \\n'

For some of these, you need to actually print them to see them in use.  Compare the above with the below:

In [42]:
print("The newline character: \nThe tab character: \t.\nThe double quote \"\nThe escape character \\n")

The newline character:
The tab character: 	.
The double quote "
The escape character \n

I didn't warn you that the print function was coming!  It takes a string (or various other inputs), and presents them to the user.  Notice how the newline character, \n, indented to the next line in each case above.  The tab character, \t, took the succeeding text to the next tab stop.  The escaped double quote didn't end our text, and the escaped slash presented as a slash.  By escaping the slash, it prevented us from having a terminal newline character.

So let's save some text and see what we can do with it:

In [43]:
letters = "abcdefghijklmnop"

In [44]:
letters

'abcdefghijklmnop'

Most things in Python are objects, and have methods (functions specific to that object) attached to them.  We could have explored this with integers and floats, but strings have a richer variety of methods, so we'll start exploring that here.

To invoke a method, you place a dot after your object, then the name of the method, and then use parentheses to run the method:

In [45]:
letters.capitalize()

'Abcdefghijklmnop'

In [46]:
letters.upper()

'ABCDEFGHIJKLMNOP'

In [47]:
# note, i is the 9th letter of the alphabet.  Indexing something in a string,
# like elsewhere in Python and most computer science languages, starts at 0
# instead of 1.
letters.find("i")

8

In [48]:
# is our string numeric?
letters.isnumeric()

False

In [49]:
# is our string alphabetic?
letters.isalnum()

True

In [50]:
letters.replace("e"," Hi ")

'abcd Hi fghijklmnop'

Did we ever actually change the original string?

In [51]:
# what does our variable look like?
letters

'abcdefghijklmnop'

Nope.  Strings are immutable, like numbers. You can take strings and build new things from them, but once they're created, you can't change them unless you overwrite/redefine them.

In [52]:
mishmash = "abc 123"

In [53]:
# replace our space character with a longer space:
mishmash = mishmash.replace(" ","    ")

In [54]:
# since we saved the result, this should be different
mishmash

'abc    123'

In [55]:
# here we chain together multiple changes.  First we uppercase
# all the letters, and with that result, we then replace our spaces,
# and then we replace the numbers at the end
mishmash = mishmash.upper().replace("    "," ********* ").replace("123","DEF")

In [56]:
mishmash

'ABC ********* DEF'

Did all of that make sense?  mishmash.uppe() took our string and created a new one with capital letters, which was then fed into .replace( ... ), which took the new string and returned a new string with asterisks instead of spaces,

### Slicing

Slowly, were getting off the ground and getting to important stuff.  Slicing.  Slicing is a key way we extract information from strings.  To do so, we put square brackets after the string, with some combination of numbers and colons.

In [57]:
num_text = "012345689"

In [58]:
# One number in brackets gives the character in that position
# remember that indexing starts with 0 in python, not 1.
num_text[0]

'0'

In [59]:
num_text[8]

'9'

Ooops.  Apparently I forget the number 7 above.

In [60]:
num_text = "0123456789"

What happens if we ask for a character that is beyond the end of the string?

In [61]:
num_text[15]

IndexError: string index out of range

Moral of the story, make sure you ask for a character within the viable range of characters.

What if I wanted the first 5 characters?  Or generally some concoction of characters?

In [62]:
num_text[0:5]

'01234'

In [63]:
num_text[6:10]

'6789'

Giving one number in brackets denotes requesting something in a position.  Giving two numbers means separated by a colon means you start with the first number, and keep grabbing characters until you get to the second number (noting, you don't include the character in the terminal position.

In [64]:
num_text[0:8]

'01234567'

Can we go out of range here as well?

In [65]:
num_text[0:100]

'0123456789'

Turns out, when you ask for multiple characters, Python starts where you tell it to start, and then grabs any characters it can before returning what it found.  A few more degenerate cases:

In [66]:
num_text[5:3]

''

If we start at the 5th position, we can't count forward to 3, so no characters are returned.

In [67]:
num_text[5:5]

''

All the characters from the 5th position to the 5th position, not including the 5th position ... that's no characters, otherwise known as the empty string.

In [68]:
num_text[-5:15]

'56789'

Well ... that's weird.  Any idea what happened?

Turns out you can find elements of a string counting their position from the front of the string, or you can find elements using negative numbers (if you know what you're looking for is at the end of your string).  In the case above, if you start using negative numbers, Python will count up in increments of 1 until it gets to 0, and then stop.  You can't ask for numbers in positive and negative positions within the same slice.

In [69]:
# Here's a really bizarre case that you likely won't need to deal with
num_text[-5:-1]

'5678'

Last major piece of slicing, you can specify a starting point, a stopping point, and also a step size, either positive or negaitve.  What do the following do?

In [70]:
num_text[-1:-8:-1]

'9876543'

In [71]:
num_text[0:8:2]

'0246'

In [72]:
num_text[1:8:2]

'1357'

In [73]:
num_text[0:15:3]

'0369'

And one last note on slicing.  It's often the case that you want to start or finish at the end (either end).  This is common enough that you can shorthand this by omitting the number.

In [74]:
# This is start at the left end, end at the right end:
num_text[::2]

'02468'

In [75]:
# if you negate the step size, you start and end at different ends:
num_text[::-1]

'9876543210'

In [76]:
# if you want just the last three elements in a list:
num_text[:-4:-1]

'987'

# Addition/formatting

A couple more common things you can do with strings:

In [77]:
"one two three" + "four five six"

'one two threefour five six'

Addition is what is called a "polymorphism."  You don't need to remember this word unless you plan on taking a bunch of computer science classes, but at least know it's a thing.  Addition works as you would expect for integers and floats, but you can add other things together too.  Above we added two strings.  Sometimes, we can even mix and match data types.  For instance, what would it mean to add a string to itsefl 3 times?

In [78]:
"yo homey" + "yo homey" + "yo homey"

'yo homeyyo homeyyo homey'

In [79]:
"yo homey" * 3

'yo homeyyo homeyyo homey'

Turns out that multiplication is a polymorphism that crosses data types, although you can't multiply a string by a string:

In [80]:
"yo homey" * "yo homey"

TypeError: can't multiply sequence by non-int of type 'str'

Maybe the last string thing for a while, formatting.  This is big for ... formatting purposes.  It takes different forms in Python 2 and Python 3.  Likely you'll spend all your time programming in Python 3, but if you see something unfamiliar doing a familiar task, know that it may be Python 2 sytax, or just an older version of Python 3 syntax.  

Anyway, for reporting purproses, you'll want to be able to insert values you calculate into a string:

In [81]:
text = "3 X 2 = answer"
text

'3 X 2 = answer'

This doesn't help us much.  We really need to be able to insert an actual answer.  The way we do this:

In [82]:
"3 X 2 = {}".format(6)

'3 X 2 = 6'

More generally:

In [83]:
"{} + {} = {}".format("one","two","three")

'one + two = three'

Expanding on this a little, Python will blindly fill curly braces with a string with the things that show up in the .format( ) method, but you can override the blind filling:

In [84]:
"{0} + {0} = {1}".format("one","two")

'one + one = two'

And probably more importantly, you can fill in numbers and specify how many digits you want:

In [85]:
"The answer to a really complex calculation in AM207 is: {}.  Totally expected".format(3.1415926535)

'The answer to a really complex calculation in AM207 is: 3.1415926535.  Totally expected'

But maybe that was too many digits?

In [86]:
"The answer to a really complex calculation in AM207 is: {:.2f}.  Totally expected".format(3.1415926535)

'The answer to a really complex calculation in AM207 is: 3.14.  Totally expected'

The .2 signifies you want 2 digits.  The f is related to the fact that we're dealing with floating point numbers.  If you want to align a bunch of numbers, you could do that:

In [87]:
print("first:{:7.2f}\nsecond:{:6.2f}\nthird:{:7.2f}\nfourth:{:6.2f}\n".format(1.2,1.3,1.2,1.5))

first:   1.20
second:  1.30
third:   1.20
fourth:  1.50

There's a tremendous amount on formatting. I'd suggest exploring more [here](https://pyformat.info/) as you need/want.

# Lists

Lists are the last of what I consider the first major data types.  We'll have a couple more major data types, but numbers of some sort, strings, and lists form the foundation.  And quite nicely, while numbers and strings are immutable, lists are the opposite of that, mutable.  This means lists present a pitfall you don't see with the other data types.

What is a list, and how do we create one?  Two ways to create the empty list:

In [88]:
empty_list = []

empty_list = list()

In [89]:
empty_list

[]

Other lists:

In [90]:
num_list = [1,2,3,4,5]

In [91]:
letter_list = ["a","b","c","x","y","z"]

In [92]:
num_list

[1, 2, 3, 4, 5]

In [93]:
letter_list

['a', 'b', 'c', 'x', 'y', 'z']

Things we can do with lists:

In [94]:
num_list + letter_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'x', 'y', 'z']

In [95]:
num_list * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [96]:
letter_list[3]

'x'

In [97]:
letter_list[::-1]

['z', 'y', 'x', 'c', 'b', 'a']

In [98]:
# In this case, following the order of operations, we first add the
# two lists, and then we slice the result of the addition:
(num_list + letter_list)[1::2]

[2, 4, 'a', 'c', 'y']

All well and good, but these operations all produce new lists.  The really interesting stuff is changing a list in place:

In [99]:
num_list[2] = "hi"

In [100]:
num_list

[1, 2, 'hi', 4, 5]

In [101]:
num_list[1:4] = [3,3]
num_list

[1, 3, 3, 5]

In [102]:
num_list.append(5)
num_list

[1, 3, 3, 5, 5]

In these case, I don't have to use the equal sign to reassign a new value because lists are "mutable", meaning you can change them in place.  Instead of having to create something new and save it over what is already stored to a variable, I can change the thing the thing the variable name is pointing to.  This doubtlessly confounds many people.  It was the bane of my existence for the first several months I worked with Python.

How this manifested for me was wanting to copy a list, and then change the copy:

In [103]:
a = [1,2,3]
b = a

In [104]:
print(a,b)

[1, 2, 3] [1, 2, 3]

In [105]:
a[2] = 50
print(a,b)

[1, 2, 50] [1, 2, 50]

With immutable data types like strings and numbers, you're creating a new copy of these things every time you save it to something.  With mutable data types, like lists, you're not creating a new copy unless you very specifically tell Python to give you a new copy.

In [106]:
c = b.copy()
c[2] = 100
print(b,c)

[1, 2, 50] [1, 2, 100]

Similar to appending, there is a command, extend.  Append is for when you want to add one element to a list.  Extend is for when you want to glue a bunch of objects to the end of your existing list.  We'll use b and c from above.

In [107]:
b.extend(c)

If b and c were both three element lists, and .extend( ) glues one to the end of the other, we should now have a nice six element list.

In [109]:
b

[1, 2, 50, 1, 2, 100]

# Exercises?